// 按钮颜色
.el-button--primary{
  background: $--color-primary!important;
}


body{
  .el-button--text {
    padding: 2px 0!important;
    min-height: 0!important;
    color: $--color-primary;
  }
  // table
  .el-table td, .el-table th {
    padding: 6px 0 !important;
  }
  .el-table{
    border-radius: 6px 6px 0 0;
    border: 1px solid #EBEEF5;
    .el-table__header {
      th {
        text-align: center;
        color: white;
        background: $--color-primary;
        background-color: $--color-primary !important;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
      }
    }
    .el-table__fixed-right-patch {
      display: none;
    }
    tr:nth-child(even) {
      background-color: #f7f7f7;
    }
    .el-table__row {
      td:first-child {
        border-left: 2px solid transparent;
      }
    }
    .el-table__row:hover {
      td:first-child {
        border-left: 2px solid $--color-primary;
      }
    }
    .hover-row {
      td:first-child {
        border-left: 2px solid $--color-primary;
      }
    }
  }
  .el-pager li.active{
    color: $--color-primary!important;
  }
  .el-tabs__active-bar{
    background-color: $--color-primary!important;
  }
  .el-tabs__item.is-active{
    color: $--color-primary!important;
  }
  .el-transfer__button{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    min-height: 0;
    margin-left: 0!important;
    padding: 10px;
  }
  //  dialog
  .el-dialog__header{
    background-color: $--color-primary;
    .el-dialog__title,.el-dialog__headerbtn .el-dialog__close{
      color: white;
    }
  }

}
.k-pages{
  text-align: right;
  padding-top: 15px;
}
/* scrollbar */
.el-table--scrollable-y .el-table__fixed-right {
  right: 6px !important;
}
.el-table__body-wrapper::-webkit-scrollbar, .SelfScrollbar::-webkit-scrollbar {
  width: 6px;
  background: #ebeef5;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb,.SelfScrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc;
  height: 120px;
}
.el-table__body-wrapper::-webkit-scrollbar-track,.SelfScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
}
